</html>
<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
      <p class="col-md-4 mb-0 text-muted">&copy; 2023 Fermany</p>
      <ul class="nav col-md-4 justify-content-end">
          <li class="nav-item"><a href="/" class="nav-link px-2">Domovská stránka</a></li>
          <li class="nav-item"><a href="/createTour" class="nav-link px-2">Vytvořte představení</a></li>
      </ul>
  </footer>
</div>